@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 40%;

    --card: 35 49% 92%;
    --card-foreground: 265 11% 43%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 265 11% 43%;
 
    --primary: 265 11% 43%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 30 25% 87%;
    --secondary-foreground: 30 4% 28%;
 
    --muted: 313 5% 67%;
    --muted-foreground: 0 0% 60%;
 
    --accent: 13 66% 51%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 357 88% 36%;
    --destructive-foreground: 0 0% 100%;

    --border: 313 5% 67%;
    --input: 33 47% 96%;
    --ring: 35 49% 92%;
 
    --radius: 0.625rem;

    --apricot: 23 76% 85%;
  }
 
  .dark {

    --background: 266 18% 6%;
    --foreground: 264 12% 92%;

    --card: 266 9% 9%;
    --card-foreground: 264 12% 92%;

    --popover: 266 18% 6%;
    --popover-foreground: 264 12% 92%;

    --primary: 264 12% 92%;
    --primary-foreground: 0 0% 9%;

    --secondary: 263 27% 31%;
    --secondary-foreground: 264 12% 92%;

    --muted: 240 4% 30%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 263 84% 52%;
    --accent-foreground: 264 12% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 264 12% 92%;
    
    --border: 240 4% 30%;
    --input: 266 9% 9%;
    --ring: 240 4.9% 83.9%;

    --apricot: 263 84% 52%;

  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  :is(.dark #imageComp) {
    --tw-grayscale: grayscale(15%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-contrast: contrast(1.05);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    transition-property: filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  :is(.dark #imageComp:hover) {
    --tw-grayscale: grayscale(5%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-contrast: contrast(1);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    transition-property: filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  .filter-background,
  .filter-popover,
  .filter-primary-foreground,
  .filter-accent-foreground,
  .filter-destructive-foreground {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(61deg) brightness(104%) contrast(104%);
  }
  
  .filter-foreground {
    filter: brightness(0) saturate(100%) invert(41%) sepia(0%) saturate(82%) hue-rotate(102deg) brightness(96%) contrast(96%);
  }
  
  .filter-card,
  .filter-ring {
    filter: brightness(0) saturate(100%) invert(93%) sepia(99%) saturate(226%) hue-rotate(298deg) brightness(104%) contrast(92%);
  }
  
  .filter-primary,
  .filter-card-foreground,
  .filter-popover-foreground {
    filter: brightness(0) saturate(100%) invert(40%) sepia(6%) saturate(1256%) hue-rotate(222deg) brightness(96%) contrast(90%);
  }
  
  .filter-secondary {
    filter: brightness(0) saturate(100%) invert(86%) sepia(6%) saturate(299%) hue-rotate(345deg) brightness(103%) contrast(94%);
  }
  
  .filter-secondary-foreground {
    filter: brightness(0) saturate(100%) invert(9%) sepia(0%) saturate(6224%) hue-rotate(192deg) brightness(96%) contrast(99%);
  }
  
  .filter-muted,
  .filter-border {
    filter: brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(492%) hue-rotate(172deg) brightness(87%) contrast(90%);
  }
  
  .filter-muted-foreground {
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(144%) hue-rotate(22deg) brightness(95%) contrast(93%);
  }
  
  .filter-accent {
    filter: brightness(0) saturate(100%) invert(43%) sepia(50%) saturate(2674%) hue-rotate(342deg) brightness(87%) contrast(90%);
  }
  
  .filter-destructive {
    filter: brightness(0) saturate(100%) invert(18%) sepia(41%) saturate(5263%) hue-rotate(343deg) brightness(87%) contrast(113%);
  }
  
  .filter-input {
    filter: brightness(0) saturate(100%) invert(91%) sepia(10%) saturate(6%) hue-rotate(323deg) brightness(106%) contrast(96%);
  }
  
  .filter-apricot {
    filter: brightness(0) saturate(100%) invert(90%) sepia(10%) saturate(1128%) hue-rotate(321deg) brightness(99%) contrast(95%);
  }

  .filter-violet {
    filter: brightness(0) saturate(100%) invert(16%) sepia(96%) saturate(3246%) hue-rotate(260deg) brightness(92%) contrast(98%);
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(hsl(var(--background)), hsl(var(--background)));
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }
  
  .link-underline-apricot {
    background-image: linear-gradient(transparent, transparent), linear-gradient(hsl(var(--apricot)), hsl(var(--apricot)))
  }
  
  .link-underline-primary {
    background-image: linear-gradient(transparent, transparent), linear-gradient(hsl(var(--primary)), hsl(var(--primary)))
  }
  
  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
  }
  
  .link-underline-sm {
    background-size: 0 2px;
  }
  
  .link-underline-sm:hover {
    background-size: 100% 2px !important;
  }
  
  .fixedTop {
    width: 100%;
    padding: 12px 18px;
    position: fixed;
    top: 0;
    background: rgb(251, 4, 235);
  }
  
  .nav-menu > div {
    width: 100%;
  }
}

main {
  scroll-behavior: smooth !important;
}

ol ol {
  margin-bottom: 0 !important;
}

ul ul {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-to-left {
  from {
    transform: translateX(-4rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes slide-to-right {
  from {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(4rem);
  }
}

::view-transition-old(root) {
  animation: fade-out 300ms cubic-bezier(0, 0, 0.2, 1);
            /* unscale 300ms cubic-bezier(0, 0, 0.2, 1); */
}

::view-transition-new(root) {
  animation: fade-in 300ms cubic-bezier(0, 0, 0.2, 1);
            /* scale 300ms cubic-bezier(0, 0, 0.2, 1); */
  mix-blend-mode: normal;
}