@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 40%;

    --card: 35 49% 92%;
    --card-foreground: 265 11% 43%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 265 11% 43%;
 
    --primary: 265 11% 43%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 30 25% 87%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 313 5% 67%;
    --muted-foreground: 0 0% 100%;
 
    --accent: 13 66% 51%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 357 88% 36%;
    --destructive-foreground: 0 0% 100%;

    --border: 313 5% 67%;
    --input: 33 47% 96%;
    --ring: 35 49% 92%;
 
    --radius: 0.625rem;

    --apricot: 23 76% 85%;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --apricot: 23 76% 85%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.link-underline-apricot {
  background-image: linear-gradient(transparent, transparent), linear-gradient(hsl(var(--apricot)), hsl(var(--apricot)))
}

.link-underline-primary {
  background-image: linear-gradient(transparent, transparent), linear-gradient(hsl(var(--primary)), hsl(var(--primary)))
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

.link-underline-sm {
  background-size: 0 1px;
}

.link-underline-sm:hover {
  background-size: 100% 1px !important;
}